<!DOCTYPE html>
<html>
<body>
  <h1>EUR</h1>
  <div style="position:fixed; bottom: 0; left: 0;">
    Thanks for visiting the site! <%= visit_count %>
  </div>
  <article>
    <p>
      L'E.U.R. (già E42) è un complesso urbanistico e architettonico di Roma.
    </p>
    <p>
      La zona viene progettata negli anni trenta del XX secolo per la costruzione della sede dell'Esposizione Universale di Roma, dal cui acronimo ha assunto il nome. L'esposizione universale non ebbe mai luogo a causa dell'inizio della seconda guerra mondiale e il complesso fu completato nei decenni successivi, modificando e ampliando il progetto originario: ospita alcuni esempi di architettura monumentale, che convivono con edifici moderni edificati nei decenni successivi. La maggior parte degli edifici è di proprietà della società omonima di proprietà statale. Il nome è utilizzato anche per indicare la zona urbanistica 12A del Municipio IX.
    </p>
    <p>
    </p>
  </article>
</body>
</html>
