<!doctype HTML />
<html>
<body>
  <form method="post">
    <p>
    <label for="title">Title</label>
    <input name="title" type="text"></input>
    </p>

    <p>
    <label for="body">body</label>
    <textarea name="body"></textarea>
    </p>

    <input type="submit" value="Submit"></input>
  </form>
</body>
</html>
