<!DOCTYPE html>
<html>
<body>
  <h1><%= post.title %></h1>
  <div style="position:fixed; bottom: 0; left: 0;">
    Thanks for visiting the site! <%= visit_count %>
  </div>
  <article>
    <p>
      <%= post.body %>
    </p>
  </article>
</body>
</html>
